.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.menu ,.Quiz,.Result{
  width: 500px;
  height: 500px;
  background: greenyellow;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu button ,.Result button{
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px ;
  cursor: pointer;
}

button:hover{
  background: pink;
}

.Quiz button{
  display: block;
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
}
